@model List<Department>



<!-- Page Heading -->
<a class="btn btn-primary mb-2" asp-area="Admin" asp-controller="Departments" asp-action="Create">
    <i class="fas fa-plus-square"></i> &nbsp;
    Agregar Departamento
</a>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Departamentos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Creado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var depat in Model)
                    {
                        <tr>
                            <td>@depat.Id</td>
                            <td>@depat.Name</td>
                            <td>@depat.Created</td>
                            <td>
                                <a class="btn btn-sm btn-info" asp-area="Admin" asp-controller="Departments" asp-action="Edit" asp-route-id="@depat.Id">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" asp-area="Admin" asp-controller="Departments" asp-action="Delete" asp-route-id="@depat.Id">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>